@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --main-color: #1c2025;
    --text-color: #ffffff;
    --secondary-color: #232b33;
    --secondary-block-color: #272d33;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    color: var(--text-color);
    outline: none;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.burger-menu{
    display: none;
}

.burger-menu button{
    background: none;
}

button{
    border: none;
    padding: .4rem 1rem;
    cursor: pointer;
}

html{
    background-color: var(--main-color);
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}

section{
    padding: 5rem 9%;
}

.mobile-nav-bar{
    display: none;
}

.mobile-nav-bar.active{
    display: block;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
    padding-right: 2rem;
    background: var(--main-color);
}

.logo{
    display: flex;
    align-items: center;
}

.nav-bar{
    font-size: 1.8rem;
    padding: 2rem 2rem;
    display: flex;
    gap: 4rem;
}

.nav-bar li{
    padding-bottom: .1rem;
    border-bottom: 1px solid var(--main-color);
}

.nav-bar li a{
    transition: .3s all ease-in-out;
}

.nav-bar li:hover a{
    color: gold;
}

.contact-number{
    font-size: 1.4rem;
}


.hero{
    background: url(public/Lawyer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 70dvh;
    box-shadow: 4px -1px 38px 18px rgba(34, 60, 80, 0.21);
    text-align: center;
    opacity: 0.9;
}

.hero p{
    font-size: 4rem;
    font-weight: bold;
    max-width: 800px;
}

.hero h3{
    font-size: 2rem;
    max-width: 800px;
    margin: 2rem;
}

.hero-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.hero-action-btn{
    background-color: #f1b98a;
    margin: 2rem 0;
    font-size: 1.8rem;
    padding: 1.1rem 1.8rem;
    color: var(--text-color);
    border-radius: 20px;
    transition: all .3s ease-in-out;
}

.hero-action-btn:hover{
    scale: 1.1;
}

.advantages{
    margin: 8rem 0;
    display: flex;
    justify-content: center;
    height: fit-content;
    text-align: center;
    flex-wrap: wrap;
    gap: 8rem;
    background: var(--secondary-block-color);
}

.advantages-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    transition: .3s all ease-in-out;
}

.advantages-cards:hover{
    scale: 1.1;
}

.advantages-cards h3{
    font-size: 2rem;
    margin: 1.4rem 0;
}

.advantages-cards p{
    font-size: 1.4rem;
    opacity: .7;
}

.advantages-img-wrapper{
    background: white;
    border: 4px solid #f1b98a;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    padding: .4rem;
    border-radius: 50%;
    overflow: hidden;
}

.advantages img{
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.advantages-footer{
    margin: 8rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    align-items: center;
}

.advantages-footer img{
    min-width: 20px;
}

.advantages-footer-blocks{
    display: flex;
    gap: 1rem;
}

.services-description h3{
    font-size: 4rem;
    color: #f1b98a;
    margin-bottom: 4rem;
}

.services-description p{
    font-size: 2rem;
    margin: 2rem 0;
}

.services-description-card{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.services-description-card a{
    text-decoration: underline;
}

.aboutAndForm-wrapper{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.aboutAndForm{
    background-color: var(--secondary-block-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 8rem 0 4rem 0;
    justify-content: space-around;
}

.about h3{
    font-size: 4rem;
    color: #f1b98a;
    margin: 4rem 0;
}

.about h4{
    font-size: 2rem;
    color: #ffe7d3;
    max-width: 540px;
    margin: 4rem 0;
}

.about p{
    max-width: 540px;
    font-size: 2rem;
}

.aboutAndForm .clients{
    text-align: center;
    font-size: 4rem;
    max-width: 700px;
    border-bottom: 1px solid #f1b98a;
}


.footer-header{
    text-align: center;
    border-bottom: 2px solid rgba(245, 245, 245, 0.068);
    padding-bottom: 2rem;
}

.footer-header h3{
    font-size: 4rem;
}

.footer-header p{
    font-size: 2rem;
    opacity: .8;
    margin: 2rem;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.social{
    display: flex;
    margin: 1rem 0;
    align-items: center;
    gap: 1rem;
}

.social{
    font-size: 2rem;
}

.socialMedias-header{
    font-size: 1.8rem;
    text-align: center;
    opacity: .8;
}

.address{
    font-size: 1.8rem;
    opacity: .8;
}

.address h3{
    margin-bottom: 1rem;
}

@media(max-width:1021px){

    html{
        font-size: 55%;
    }

    .nav-bar{
        font-size: 2rem;
        gap: 2rem;
        padding: .4rem .4rem;        
    }

    .logo h3{
        display: none;
    }

    .hero-icons{
        display: flex;
        gap: 0rem;
        margin: 0;
        flex-wrap: wrap;
    }

    .hero-icons img{
        max-width: 8rem;
    }

}

@media(max-width:768px){

    body{
        margin: 0 1rem;
    }

    
}

@media(max-width:450px){

    html{
        font-size: 50%;
    }

    .nav-bar{
        display: none;
    }

    .header{
        position: fixed;
        z-index: 5;
        width: 100%;
        margin: -10px;
    }

    .hero{
        overflow-y: hidden;
        background-attachment:initial;
    }

    .hero-wrapper{
        background: #1c202527;
    }

    .hero-wrapper h3{
        font-size: 1.8rem;
    }

    .burger-menu{
        display: block;
    }
    
    .mobile-nav-bar{
        position: absolute;
        display: none;
        flex-direction: column;
        margin: 2rem 4rem;
        background-color: var(--main-color);
        font-size: 1.8rem;
        right: 0;
        bottom: 2;
    }

    .mobile-nav-bar li{
        margin: 1rem 0;
    }

    .mobile-nav-bar{
        position: fixed;
        z-index: 10;
    }
    
    .advantages-footer-mainImg{
        display: none;
    }

    .aboutAndForm-wrapper{
        max-height: fit-content;
        margin-bottom: 4rem;
    }
}